@import "mixins";

.container {
  @include breakpoint(s) {
    width: 480px;
  }
  @include breakpoint(m) {
    width: 768px;
  }
  @include breakpoint(l) {
    width: 1024px;
  }
  @include breakpoint(xl) {
    width: 1024px;
    margin: 0 auto;
  }
}

.board {
  @include breakpoint(xs) {
    display: inline-block;
    border: 10px solid $orange;
  }

  @include breakpoint(s) {
    border: 6px solid $orange;
    width: 450px;
    margin: 8px auto;
    height: 450px;
  }
  @include breakpoint(m) {
    border: 6px solid $orange;
    width: 730px;
    margin: 8px auto;
    height: 730px;
  }
  @include breakpoint(l) {
    border: 6px solid $orange;
    width: 550px;
    height: 550px;
    margin-top: 20px;
    margin-right: 6%;
    float: right;
  }
  @include breakpoint(xl) {
    border: 6px solid $orange;
    width: 550px;
    height: 550px;
    margin-top: 20px;
    margin-right: 6%;
    float: right;
  }

  .row {
    @include breakpoint(xs) {
      width: 300px;
      height: 30px;
    }
    @include breakpoint(s) {
      width: 450px;
      height: 45px;
    }
    @include breakpoint(m) {
      width: 730px;
      height: 73px;
    }
    @include breakpoint(l) {
      width: 550px;
      height: 55px;
    }
    @include breakpoint(xl) {
      width: 550px;
      height: 55px;
    }
  }
}
